<div class="jumbotron text-center">
  <h3>Add new podcast</h3>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Namn på podcast">
      </input>
    <input type="text" class="form-control" placeholder="Av">
      </input>
    <input type="text" class="form-control" placeholder="URL">
      </input>
  </div>
  <div class="btn-group" role="group" aria-label="Lägg till podcast">
    <button type="button" class="btn btn-default">Lägg till</button>
  </div>
</div>
